<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>课程列表</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
	<link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/normalize.css")}}">
	<link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/framework.css")}}">
	<link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/main.css")}}">
	<script src="{{url_for("static", filename="scripts/webfont.js")}}"></script>
	<link href="{{url_for("static", filename="css/ionicons.min.css")}}" rel="stylesheet" type="text/css" />
</head>
<body>
  <section class="w-section mobile-wrapper">

    <div class="page-content" id="main-stack">
      <div class="w-nav navbar" data-collapse="all" data-animation="over-left" data-duration="400" data-contain="1" data-easing="ease-out-quint" data-no-scroll="1">
        <div class="w-container">
          <div class="wrapper-mask" data-ix="menu-mask"></div>
          <div class="navbar-title">课程列表</div>
         
        </div>
      </div>
      <div class="body">
        <div class="hero-image">
          <div class="hero-image-title">
            <h2>课程列表</h2>
            <div class="sub-title-small">共{{ coursecount }}门课程</div>
          </div>
          <div class="hero-image-img"><img src={{url_for("static", filename="images/photo1.jpg")}}>
          </div>
        </div>
      </div>
        {% for course in courses %}
            <a href={{ url_for("show_announcements_of_a_course", courseID = course["_ID"]) }}>
      <div class = "item-list-container">
        <span class="icon-list">
              <img src={{url_for("static", filename="images/redbutton.png")}}/>
        </span>  
        <div class = "text-container-class"> 
        <span class = "text-field"> 
        {{ course["_CourseName"] }}
        </span>
        </div>
      </div>
      <div class="h_line"></div>
            </a>
        {% endfor %}
    </div>
    <div class="page-content loading-mask" id="new-stack">
      <div class="loading-icon">
        <div class="navbar-button-icon icon ion-load-d"></div>
      </div>
    </div>
    <div class="shadow-layer"></div>
  </section>
	<script type="text/javascript" src={{url_for("static", filename="scripts/jquery.min.js")}}></script>
	<script type="text/javascript" src={{url_for("static", filename="scripts/framework.js")}}></script>
</body>
</html>